html, body{
    height: 100%;
    width: 100%;
}
.text{
    padding: 10px 20px;
    border: 2px solid black;
border-radius: 10px;
}

.button{
    padding: 20px;
    margin: 0px 6px;
    width: 60px;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer; 
}
.row{
    padding: 8px 0px;
/* background-color: red; */
}
#001{
    background-color: aqua;
}